@use '../styles/variables.scss' as var;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
// CSS Reset start
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// CSS Reset end

html {
	font-family: var.$raleway;
}

img {
    clip-path: circle();
}

.layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// margin: 2.4em;
}

.content-wrapper {
	margin-left: 2.4em;
	margin-right: 2.4em;
}

.bg-colored {
	// background-color: #b9d9ee;
	background-color: var.$background-color;
}

h1, p {
	color: rgb(17, 17, 17);
}

// Landscape phones
@media screen and (min-width: var.$landscape-mobile) {

}

// Tablets
@media screen and (min-width: var.$tablet) {

}

// Large devices (desktops)
@media screen and (min-width: var.$desktop) {

}

// X-large devices
@media screen and (min-width: var.$widescreen-desktop) {
	.content-wrapper {
		margin-left: 16.3em;
		margin-right: 16.3em;
	}
}

// XX-large devices
@media screen and (min-width: 1400px) {

}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}