.extra-info {
    display: flex;
    flex-direction: column;

    img {
        height: 300px;
    }

    .welcome-blurb {
        position: relative;
        transform: translateY(-17%);
        background-color: white;
        height: 378px;
        width: 312px;

        .welcome-blurb-content {
            margin: 1em;

            h1 {
                margin-bottom: 1em;
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 48px;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-style: italic;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
}