.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -22.5em;
    margin-bottom: 5em;

    img {
        height: 300px;
    }

    .welcome-blurb {
        position: relative;
        transform: translateX(-10%) translateY(-17%);
        background-color: white;
        height: 378px;
        width: 300px;

        .welcome-blurb-content {
            margin: 1em;

            h1 {
                margin-bottom: 1em;
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 48px;
            }

            p {
                font-family: 'Raleway', sans-serif;
                font-style: italic;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }

    .extra-info-blurb {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 3em;

        h1, p {
            font-family: 'Montserrat', sans-serif;
            line-height: 32px;
        }

        h1 {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 2px;
        }

        p {
            margin-top: 1em;
            margin-bottom: 3em;
            font-size: 16px;
        }
    }

    .extra-info-blurb.flipped {
        h1 {
            margin-top: 3em;
        }
    }
}

.extra-info-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 28em;

    .square-img {
        margin-top: 4.3em;
        margin-bottom: 1.8em;
        img {
            clip-path: unset;
        }
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 24px;
        margin-top: 1em;
    }

    p {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        font-family: 'Raleway', sans-serif;
        line-height: 32px;
    }
}

.extra-info-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -18em;
    margin-bottom: 5em;
    text-align: center;

    .vertical-line {
        border-right: 2px solid black;
        height: 75px;
        position: relative;
        right: 50%;
        margin-top: 6em;
        margin-bottom: 3em;
    }

    h1 {
        // margin-top: 4em;
        font-size: 3.75rem;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }
}

// Landscape phones
@media screen and (min-width: 576px) {
    .extra-info {
        align-items: center;
        margin-top: -33.5em;

        img {
            height: 500px;
        }

        .extra-info-blurb {
            img {
                height: unset;
            }
        }

        .welcome-blurb {
            height: unset;
            width: 350px;
            transform: translateX(-20%) translateY(-40%);
        }
    }

    .extra-info-2 {
        .square-img {
            height: 700px;
        }

        h1 {
            font-size: 3.5rem;
        }
    }
}

// Tablets
@media screen and (min-width: 768px) {
    .extra-info {
        .welcome-hero {
            height: 500px;
            
            img {
                transform: translateX(10%);
            }
        }

        .welcome-blurb {
            width: 400px;
            transform: translateX(-30%) translateY(-40%);
        }

        .extra-info-blurb-wrapper {
            display: flex;
            flex-direction: row;
        }

        .extra-info-blurb {
            width: 45%;
        }
    }

    .extra-info-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
        padding-bottom: 25em;

        .square-img {
            height: 600px;
            margin: unset;
            width: 50%;
        }

        h1 {
            font-size: 2.5rem;
        }

        .extra-info-2-blurb-wrapper {
            width: 50%;
        }
    }

    .extra-info-end {
        display: flex;
        flex-direction: row;
        margin-top: -14em;
        
        .extra-info-end-blurb-wrapper {
            h1 {
                line-height: 4rem;
            }
        }

        .vertical-line {
            margin-bottom: 1em;
            margin-top: 3em;
        }
    }

}

// Large devices (desktops)
@media screen and (min-width: 992px) {

}

// X-large devices
@media screen and (min-width: 1200px) {
	.layout {
		margin-left: 16.3em;
		margin-right: 16.3em;
	}
}

// XX-large devices
@media screen and (min-width: 1400px) {

}