@use '../styles/variables.scss' as var;

.hero {
    margin-top: 6em;
    margin-bottom: 19em;
}

.hero-images {
    display: flex;
    flex-direction: column;

    .hero-1 {
        width: 70%;
    }

    .hero-circle {
        position: absolute;
        height: 150px;
        width: 150px;
        background-color: #565f6a;
        border-radius: 50%;
        top: 0;
        right: 0;
        transform: translateX(-28%) translateY(-60%);
        z-index: 2;
    }
    
    .hero-image-stack {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: -1;
        margin-top: 6em;
        margin-bottom: 8em;

        .hero-2 {
            position: relative;

            img {
                height: 100%;
            }
        }
    
        .hero-3 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-7%) translateY(60%);
        }
    }
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 2.5rem;

    h1.title {
        font-family: var.$raleway;
        text-align: end;
        font-weight: 700;
        font-size: 1.4rem;
        letter-spacing: 0.4rem;
        animation: fade-in 0.5s ease-in-out;
    }

    h1.sub-title {
        margin-top: 0.6em;
        text-align: end;
        font-size: 3.0rem;
        font-family: var.$playfair;
        font-weight: 700;
        animation: fade-in 0.5s ease-in-out;
    }


}

@media screen and (min-width: 576px) {
    .hero-images {
        .hero-circle {
            transform: translateX(-30%) translateY(200%);
            z-index: 0;
        }


        .hero-image-stack {

            .hero-3 {
                transform: translateX(0%) translateY(40%);
            }
        }
    }

    .hero-heading {
        h1.title {
            font-size: 2rem;
        }

        h1.sub-title {
            margin-top: 0.3em;
            line-height: 5rem;
            font-size: 4.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero-images {
        margin-bottom: -8em;

        .hero-circle {
            transform: translateX(-35%) translateY(145%);
            height: 225px;
            width: 225px;
        }

        .hero-image-stack {
            margin-bottom: 15em;

            .hero-2 {
                img {
                    transform: translateX(10%);
                }
            }

            .hero-3 {
                transform: translateX(2%) translateY(40%);
            }
        }
    }
}

@media screen and (min-width: 992px) {

    .hero {
        margin-top: 12em;
    }
    
    img {
        max-width: unset;
    }

    .hero-images {
        margin-top: 7em;

        .hero-1 {
            position: absolute;
            width: 35%;
        }

        .hero-circle {
            position: absolute;
            right: 6em;
            height: 180px;
            width: 180px;
            transform: translateX(-30%) translateY(70%);
        }

        .hero-image-stack {
            margin-top: unset;

            .hero-3 {
                transform: translateX(6%) translateY(40%);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-images {

        .hero-1 {
            width: 20%;
        }

        .hero-circle {
            transform: translateX(-140%) translateY(60%);
        }

        .hero-image-stack {
            margin-top: 0;

            .hero-3 {
                transform: translateX(0%) translateY(30%);
            }
        }
    }

    .hero-heading {

        h1.title {
            font-size: 2.7rem;
        }

        h1.sub-title {
            line-height: 7rem;
            font-size: 6rem;
        }
    }
}