.services {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 16em;
    padding-bottom: 16em;

    .service-card-collection {
        transform: translateY(-14%);
    }

    .service-card + .service-card {
        margin-top: 0.7em;
    }
}

@media screen and (min-width: 576px) {
    .services {
        padding-bottom: 30em;
        
        .service-card-collection {
            transform: translateY(-24%);
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 0.7em;
        }

        .service-card + .service-card {
            margin-top: unset;
        }
    }
}

@media screen and (min-width: 820px) {

}

@media screen and (min-width: 991px) {
    .services {
        .service-card-collection {
            display: flex;
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1200px) {
}