
.services {
    background-color: #efe5db;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16em;
    margin-left: -2.4em;
    margin-right: -2.4em;

    .service-card-collection {
        transform: translateY(-14%);
    }

    .service-card + .service-card {
        margin-top: 0.7em;
    }
}