.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;
    margin-left: 2.4em;
    margin-right: 2.4em;

    button {
        all: unset;
        // for safari?
        height: 100%;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }  
    }

    
    .menu {
        width: 2em;
        stroke: black;
        // for safari?
        height: 100%;
                
        &:hover {
            cursor: pointer;
        }

        path {
            fill: black;
        }
    }

    nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #bcc9d8;
        width: 45%;
        z-index: 2;
        text-transform: uppercase;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 8em;
    
            a {
                color: black;
                // Padding on a link element doesn't work unless display: block
                padding: .75em 2em;
                display: block;
    
                &:hover {
                    background: gray;
                    cursor: pointer;
                }
            }
        }
    
        .close-button {
            float: right;
            margin: 2em;
            margin-right: 2.1em;
            width: 2.5em;

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .open-nav {
        transform: translateX(0);
    }
}

@keyframes drawBackground {
    from { background-color: unset }
    100% {background-color: #f7f7f7 }
}

.nav-bg {
    position: fixed;
    // padding-top: 2.4em;
    background-color: unset;
    border-bottom: unset;
    width: 100%;
    z-index: 1;
}

@keyframes shrink {
    from { padding-top: 2.4em; border-bottom: unset }
    to { padding-top: 1.2em; padding-bottom: 1.2em; border-bottom: 1px solid #dfdfdf }
}

@keyframes expand {
    from { padding-top: 1.2em; padding-bottom: 1.2em }
    to { padding-top: 2.4em; padding-bottom: unset; }
}

.scroll-shrink {
    background-color: #f7f7f7;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    animation: shrink 0.2s ease-in-out, drawBackground 0.2s;
    border-bottom: 1px solid #dfdfdf;
    animation-timing-function: ease-in-out;
}

.scroll-expand {
    padding-top: 2.4em;
    padding-bottom: unset;
    animation: expand 0.2s ease-in-out;
    animation-timing-function: ease-in-out;
}

@media screen and (min-width: 768px) {
    .navbar {
        .menu {
            display: none;
        }

        nav {
            background-color: unset;
            width: unset;
            height: unset;
            position: relative;
            transform: unset;
            transition: unset;
            
            ul {
                display: flex;
                margin-top: unset;
                
                a {
                    white-space: nowrap;
                    text-decoration: none;

                    &:hover {
                        background: unset;
                        text-decoration: underline;
                    }
                }
            }

            .close-button {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        // margin-top: 2.4em;
        margin-left: 16.3em;
        margin-right: 16.3em;
    }
}