.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.4em;
    margin-left: 2.4em;
    margin-right: 2.4em;

    svg {
        width: 2em;
        stroke: black;

        path {
            fill: black;
        }
    }

    h1 {
        font-size: 1.5rem;
    }
}