.modal-title-treatments {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 500;
        font-size: 2rem;
    }
}

.close-modal-treatments {
    // margin: 2em;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    svg {                                    
        position: relative;
        height: 30px;
        float: right;
        &:hover {
            cursor: pointer;
        }
    }
}

.modal-content-treatments {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-gap: 2em;
    display: flex;
    flex-direction: column;
    
    .modal-service-title {
        h1 {
            font-weight: 500;
            font-size: 1.3rem;
        }

        span {
            font-size: 1rem;
        }
    }

    .modal-service-item {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        margin-left: 1em;
    }

    .modal-service-item-extra {
        margin-top: 0.3em;
        margin-left: 1.5em;
        opacity: 80%;
        
        p {
            font-size: 0.88rem;
        }
    }
}


@media screen and (min-width: 576px) {
    .services {
        padding-bottom: 30em;
        
        .service-card-collection {
            transform: translateY(-24%);
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 0.7em;
        }
    }

    .animate-in + .animate-in {
        margin-top: unset;
    }
}


@media screen and (min-width: 820px) {

}

@media screen and (min-width: 991px) {
    .services {
        .service-card-collection {
            display: flex;
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1200px) {
}